.cl-container {
  width: 100%;
  height: 100%;
}

.cl-row {
  width: 100%;
  height: auto;
}

.cl-text {
  display: inline-block;
  width: 80%;
}

.cl-comment {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}
