.sn-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.sn-navNameBar {
  float: left;
  width: 20%;
}

.sn-navName:hover {
  color: #A62B4D;
  cursor: pointer;
}

.sn-navName.current {
  color: #A62B4D;
}

.sn-viewport {
  width: 80%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-left: 20%;
}

.sn-navContentList {
  width: 100%;
  height: 100%;
  position: absolute;
}

.sn-navContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}
