.ts-title {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, 微软雅黑;
  color: #aaa;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 22px;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 1px solid #b0b0b0;
  display: inline-block;
}

.ts-title:hover {
  color: #b30000;
  cursor: pointer;
}

.ts-title.current {
  color: #b30000;
}

.ts-title-noLeftPad {
  padding-left: 0;
}

.ts-title-childLevel {
  font-size: 14px;
}
