.ts-container {
  width: 100%;
  height: 100%;
  display: block;
}

ul.ts-titleBar {
  margin: 0;
  padding: 0;
  height: 22px;
  margin-bottom: 14px;
}

.ts-content { /* 22 + 14*/
  width: 100%;
  height: -moz-calc(100% - 36px);
  height: calc(100% - 36px);
  height: -webkit-calc(100% - 36px);
  position: relative;
  z-index: 0;
}

.ts-content-item {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-duration: 100ms;
  -moz-animation-duration: 100ms;
  -webkit-animation-duration: 100ms;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ts-content-item.fadeIn {
  z-index: 100;
}
