doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Fang Ben Law Office
    link(href='/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    link(href='/css/index.css')
    body
      nav.navbar
        div.container-fluid
      block content
      div#footer footer
      script(type='text/javascript' src='/jquery/dist/jquery.js')
      script(type='text/javascript' src='/bootstrap/dist/js/bootstrap.js')
