html {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Antenna-Bold';
  src: url('../font/Antenna-Bold/Antenna-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/Antenna-Bold/Antenna-Bold.otf')  format('opentype'),
	     url('../font/Antenna-Bold/Antenna-Bold.woff') format('woff'), url('../font/Antenna-Bold/Antenna-Bold.ttf')  format('truetype'), url('../font/Antenna-Bold/Antenna-Bold.svg#Antenna-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antenna-Light';
  src: url('../font/Antenna-Light/Antenna-Light.eot?#iefix') format('embedded-opentype'),  url('../font/Antenna-Light/Antenna-Light.otf')  format('opentype'),
	     url('../font/Antenna-Light/Antenna-Light.woff') format('woff'), url('../font/Antenna-Light/Antenna-Light.ttf')  format('truetype'), url('../font/Antenna-Light/Antenna-Light.svg#Antenna-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Antenna-Light';
  width: 100%;
  height: 100%;
  position: relative;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 864px;
  min-width: 1400px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

a,
a:focus {
  outline: none;
}

#app {
  width: 100%;
  height: 100%;
}

#app-layout {
  width: 100%;
  height: 100%;
}

#app-top {
  padding-top: 36px;
  padding-bottom: 10px;
  background-color: #fff;
}

#app-nav {
  background-color: #fff;
}

.app-searchAndLang {
  text-align: right;
}

/* app-menu starts */
ul.app-menu {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}

li.app-menu-item {
  letter-spacing: 4px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  display: table-cell;
}

li.app-menu-item a {
  font-weight: bold;
  color: #555;
  text-decoration: none;
  outline: none;
}

li.app-menu-item a.active {
  font-weight: bold;
  color: #A62B4D;
  text-decoration: none;
  outline: none;
}

li.app-menu-item a:visited {
  font-weight: bold;
  color: #555;
  text-decoration: none;
  outline: none;
}

li.app-menu-item a:hover {
  font-weight: bold;
  color: #A62B4D;
  text-decoration: none;
  outline: none;
}

li.app-menu-item a:active {
  font-weight: bold;
  color: #555;
  text-decoration: none;
  outline: none;
}
/* app-menu ends */

.midHeader {
  height: 33px;
}

#app-bottom {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

#app-bottom a {
  color: #555;
  text-decoration: none;
}

#app-bottom a:visited {
  color: #555;
  text-decoration: none;
}

#app-bottom a:hover {
  color: #A62B4D;
  text-decoration: none;
  cursor: pointer;
}

#app-bottom a:active {
  color: #555;
  text-decoration: none;
}

.app-bottom-siteMap {
  text-align: right;
}

.app-bottom-legalDeclaration {
  text-align: right;
}

.app-bottom-wechat {
  text-align: right;
}
