.commentList {
  margin-bottom: 10px;
}

.comment {
  border: 1px solid #ccc;
  padding: 5px;
}

.commentAuthor {
  font-size: 12px;
  color: #444;
  text-align: left;
}

.commentText {
  font-size: 12px;
  color: #aaa;
}

.commentForm {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
}
